//BackBtnHeader component
.back-header {
  height: 50px;
  color: #fff;
  line-height: 55px;
  .grid {
    max-width: 90%;
    margin: auto;
    display: flex;
    & a {
      display: inline-block;
      color: #fff;
      padding: 0 5px;
      transition: all 0.3s;
      font-size: 20px;
      &:hover {
        color: rgb(64, 223, 159);
      }
    }
  }
}

//green divider
.divider {
  background-color: rgb(64, 223, 159);
  height: 2px;
  margin: auto;
  width: 90%;
}

//LevelHeader components
.lv-header {
  display: inline-block;
  width: 90%;
  height: 50px;
  color: #fff;
  line-height: 55px;
  font-size: 20px;
  .heart {
    font-size: x-large;
    color: rgb(194, 79, 79);
    margin-right: 5px;
  }
  .pause {
    font-size: x-large;
    padding: 1em;
  }
}

//Popup Window Component
.panel-wrapper {
  position: relative;
  z-index: 99;
  .panel {
    transition: all 0.3s ease-in-out;
    transform: translateX(40rem);
  }
  &.active {
    .over-layer {
      display: block;
    }
    .window {
      transform: translateX(0);
    }
  }
}
.over-layer {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.2);
  z-index: 9;
}
.window {
  width: 35rem;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(35,35,35, 0.95);
  box-shadow: -3px 0 3px rgba(64,223,159, 0.4);
  transform: translateX(35rem);
  transition: all 0.3s ease-in-out;
  z-index: 99;
  .head {
    padding: 0.5rem;
    text-align: right;
    .close {
      font-size: 28px;
      font-weight: 600;
      color: #fff;
      cursor: pointer;
      line-height: 1;
      margin-right: 4px;
    }
  }
}

//UserProfile Component
.user-header {
  width: 100%;
  height: 44px;
  color: #fff;
  line-height: 44px;
  .grid {
    max-width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .user-profile-group {
      margin-top: 1em;
      .user-icon {
        border-radius: 50%;
        height: 44px;
        width: 44px;
        margin-right: 8px;
      }
      .user-initial {
        font-weight: bold;
        font-size: 1.5em;
      }
      .logout {
        font-size: larger;
        &:hover {
          color: rgb(64, 223, 159);
          cursor: pointer;
        }
      }
    }
  }
}
