//BackBtnHeader component
.header {
  width: 100%;
  height: 50px;
  color: #fff;
  line-height: 55px;
  .grid {
    max-width: 90%;
    margin: auto;
    display: flex;
    & a {
      display: inline-block;
      color: #fff;
      padding: 0 5px;
      transition: all 0.3s;
      font-size: 20px;
      &:hover {
        color: rgb(64, 223, 159);
      }
    }
  }
  .divider {
    background-color: rgb(64, 223, 159);
    height: 1px;
    margin: auto;
    width: 90%;
  }
}

//LevelHeader components
.header {
  background-color: rgba(0, 0, 0, 1);
  width: 100%;
  height: 44px;
  color: #fff;
  font-size: 11px;
  line-height: 44px;
  .grid {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & a {
      display: inline-block;
      color: #fff;
      padding: 0 8px;
      transition: all 0.2s;
      text-transform: uppercase;
      font-size: 12px;
      &:hover {
        color: #ddd;
      }
    }
    .nickname {
      padding-left: 0.4rem;
      font-size: 13px;
      cursor: pointer;
      &:hover {
        color: #ddd;
      }
      i {
        margin-right: 4px;
      }
    }
  }
}

