.split {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr;
}

.initial {
    text-align: center;
}

.disappear {
    /* Removes the button from the view */
    /* display: none; */
    /* Hides the button, replaces with a blank space */
    visibility: hidden;
}

.level-block {
    height: 2.5rem;
    width: 2.5rem;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    padding: 20px 20px;
}

