// NotFound Page
.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 2.5rem;
  font-weight: 800;
  color: rgb(255, 255, 255);
}

// Login Page
.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;

  .login-box {
    width: 450px;
    padding: 1.5rem 1.5rem 2rem 1.5rem;

    & a {
      transition: all 0.3s;

      &:hover {
        color: rgb(64, 223, 159);
      }
    }
  }
}

// Home Page
.home-wrapper {
  .header-box {
    .title {
      letter-spacing: 10px;
      font-size: 64px;
      text-shadow: 0 0 5px #ffffff;
    }

    .subtitle {
      letter-spacing: 5px;
      font-size: 36px;
    }
  }

  .btns {
    position: absolute;
    bottom: 20%;
    left: 10%;
    right: 10%;

    .btn {
      padding: 0.5rem;
      margin: 10px;
      width: 450px;
      height: auto;
    }
  }
}

// Algorithm Select Page
.alg-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  height: 70vh;

  .title {
    font-size: 4em;
  }

  .button,
  #dropdown-menu {
    width: 100%;
  }

  .dropdown-item {
    color: rgb(30, 28, 28);
    font-size: 1.5rem;

    &:hover {
      font-weight: bold;
      background-color: rgba(30, 28, 28, 0.15);
    }
  }
}

// Level Select / Edit Page
.select-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 85vh;

  .lv-btn {
    width: 60%;
  }

  .long-btn {
    width: 80%;
  }

  .btn-text {
    font-weight: bold;
    padding: 0.5rem;
    color: rgb(30, 28, 28);
  }
}

// Analytics Page
.analytics-wrapper {
  max-width: 80%;
  margin: auto;
  min-height: calc(100vh - 50px);

  .level-container {
    padding: 0.8rem;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    text-align: center;

    .level-btn {
      width: 90%;
      font-weight: bold;
      font-size: 1.1rem;
    }
  }

  .items-list {
    padding: 0rem 1rem;
    background-color: fff;
    color: rgb(64, 223, 159);
    font-size: 1.1rem;
    .item-wrapper{
      border: 1px solid rgb(64, 223, 159);
    }

  }

  .a-stat {
    color: rgb(194, 79, 79);
  }

  .analytics-fade-enter {
    opacity: 0.1;
  }
  .analytics-fade-enter-active {
    opacity: 1;
    transition: all 0.3s ease-in;
  }
  
  .analytics-fade-exit {
    opacity: 1;
  }
  .analytics-fade-exit-active {
    opacity: 0.1;
    transition: all 0.3s ease-in;
  }

}
