.grid{
  margin: auto;
  width: 42%;
  padding: 10px;
  display: flex;
}

.grid .cell {
  padding: 5px;
  margin: 1px;
  min-width: 100px;
  min-height: 100px;
  border: 1px solid lightblue;
}

.array-group .array-group-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.array-group .array-group-body {
  display: flex;
  justify-content: center;
}